<div class="f-cb f-mb10"><h3 class="list-title">file_info数据</h3> <span class="f-fr"><a href="#!/?file_info/admin/file_info/addItem" class="f-btn f-btn-success">增加数据</a></span></div>
<div class="mkoa-box f-p10"  ms-controller="file_info-list">
    <mkoa:pager  url="file_info/admin/file_info/findAll" searchurl="file_info/admin/file_info/search" >
        <div slot="$top" id="search">
            <select ms-duplex="searchKey" class="f-fl" >
                <option value="id">ID</option>
                <option value="md5">md5校验</option><option value="chunks">总分块数</option><option value="chunk">第几分块</option><option value="file_size">文件大小</option>
            </select>
            <input type="text" ms-duplex="searchValue" class="f-fl f-ml5"/>
            <button ms-click="search" class="f-btn f-btn-success f-ml10" >搜索</button>
            <button ms-if="searchOpen" ms-click="closeSearch" class="f-btn">清空搜索</button>
        </div>
        <table slot="$list" class="mkoa-table">
            <thead>
            <tr><th width="30">ID</th><th>md5校验</th><th>总分块数</th><th>第几分块</th><th>文件大小</th><th width="155">创建时间</th><th width="100">操作</th></tr>
            </thead>
            <tbody>
            <tr ms-repeat="listData"><td>{{el.id}}</td><td>{{el.md5}}</td><td>{{el.chunks}}</td><td>{{el.chunk}}</td><td>{{el.file_size}}</td><td>{{el.createdAt|date("yyyy-MM-dd HH:mm:ss")}}</td>
           <td><a ms-attr-href="'#!/?file_info/admin/file_info/addItem?id='+el.id"  class="f-btn f-btn-sm">编辑</a> <button  ms-click="remove($remove,el.id)" class="f-btn f-btn-sm">删除</button></td>
            </tr>
            </tbody>
        </table>
    </mkoa:pager>
</div>
<script>
    require(["mkoaAjax/mkoaAjax","mkoaPagerFull/mkoaPagerFull"], function ($a){
       avalon.define({
            $id:'file_info-list',
            remove:function($remove,id){
                $a.getJSON(app.$host +'file_info/admin/file_info/delete',{id:id},function(data){//删除数据
                    if(!data.error){
                        $remove();
                    }
                });
            }
        });
        avalon.scan();
    });
</script>